*{
    text-decoration: none;
}
body{
    background-color: rgba(247, 220, 187, 0.61);
}
.dishName{
    text-align: center;
}
.head{
    text-align: center;
}
.dishImage{
    width: 600px;
    height: 300px;
    border: 2px solid black;
    display: inline-block;
}
.mainDishImage{
    width: 600px;
    height: 300px;
    border: 2px solid black;
    display: block;
    margin: 0 auto;
}
.dishList{
    width: 600px;
    margin: 10px auto 0 auto;
    border: 2px solid black;
    border-radius: 10px;    
    background-color: rgba(233, 220, 220, 0.616);
}
.mainList{
    padding: 40px;
    width: 700px;
}
.dishList a{
    color: black;
    font-size: 20px;
    font-weight: 500;
}
.homePage a{
    color: black;
}